[[source]]
name = "pypi"
url = "https://pypi.org/simple"
verify_ssl = true

[dev-packages]
ipython = ">=7.31.1"
black = "==21.12b0"
jsonschema = "*"
pytest = "*"
stix2 = "*"
stix2-validator = "*"

[packages]

[requires]
python_version = "3.8"
